.interests p{
    font-size: 14px;
}

.projects p{
    font-size: 14px;
    padding-top: 6px;
}

.projects .portfolio_inner h3{
    font-size: 24px;
}

.projects .svg{
    width: 45px;
    height: 45px;
    padding-bottom: 10px;
}

.projects .inner b{
    color: #24a19c; 
}

.about-facts{
    font-size: 14px;
}

.svg {
    color: #24a19c;
}

.about-facts label{
    min-width: 80px;
    font-weight: 500;
    margin: 5px 0px;
}

.about-facts .left-about-fact label{
    min-width: 65px;
}

.about-facts .col-6{
    padding: 0px 7px;
}

.contact-inner {
    padding-top: 80px;
}

a{
    color: #24a19c;
}

a:hover{
    color: #04817c; 
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.dance-inner{
    padding-top: 80px;
}

.dance-section{
    padding-top: 140px;
    padding-bottom: 60px;
    background-color: #f9f9f9;
}

.dance-inner .col-12{
    padding: 15px;
}